@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EF_CodeFirst</h1>
    <p>by <a href="https://www.behance.net/kwittenberg">K. Wittenberg</a></p>
</div>
